.container {
  display: flex;
  overflow: hidden;
  padding: 1rem;
  z-index: 99 !important;
  gap: 1.5rem;
}

.panel {
  display: flex;
  margin-bottom: 0.5rem;
  justify-content: space-between;
  align-items: center;
}

.board {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.gameProgress {
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 100%;
  overflow: auto;
}

.title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

.championPool {
  height: 100vh;
  overflow: auto;
}

.myBoard {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
  min-height: 60vh;
}

@media (min-width: 1024px) {
  .container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
