.container {
  width: 100%;
  max-width: 400px;
  padding: 16px;
  padding-top: 0;
  padding-bottom: 0;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.stats {
  justify-content: space-between;
  margin-top: 16px;
}

.distribution {
  margin-top: 24px;
}

.distLabel {
  width: 24px;
  text-align: right;
  font-weight: bold;
}

.distBar {
  flex: 1;
  background-color: #333;
}

.distCount {
  width: 24px;
  text-align: left;
}

.button {
  margin-top: 1.5rem;
  position: relative;
  display: inline-block;
  padding: 6px 16px;
  background: black;
  color:    #fff;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  border: 2px solid;
  border-image: linear-gradient(to top,   #be136c, #fd4f75) 1;
  border-bottom: none;
  font-weight: 600;
}

.button:hover {
}

.mantine-Progress-root {
  height: 1rem;
}

.congratsIcon {
  height: 48px;
  width: 48px;
}
