:root {
  --background: #ffffff;
  --foreground: #171717;
  --progress-size-md: 1rem;
  --cell-w: 120px;
  --cell-h: 200px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #020a14;
    --foreground: #ededed;
  }
}

html,
body {
  scrollbar-color: #444 transparent;
  overflow-y: hidden;
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

body {
  color: #fff;
  background: #070707;
  background: radial-gradient(circle, #060606 0%, #141414 50%, #181818 100%);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.mantine-Modal-close {
  border-bottom-color: transparent !important;
}

.mantine-Modal-header {
  display: none;
}

.mantine-Modal-body {
  background: #000;
  overflow: visible;
  padding-top: 16px;
  padding-bottom: 0;
  border: 2px solid transparent !important;
  border-image: linear-gradient(
    to bottom,
    #b827fc 0%,
    #2c90fc 25%,
    #b8fd33 50%,
    #fec837 75%,
    #fd1892 100%
  ) !important;
  border-image-slice: 1 !important;
}

.mantine-Modal-content {
  overflow: visible;
}

.mantine-Progress-root {
  background-color: transparent !important;
}

.mantine-CloseButton-root:hover {
  background-color: transparent;
}

.m_1b7284a3 {
  background-color: transparent !important;
}

.bg-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -9;
}

.scrolling-strip {
  position: absolute;
  left: 0;
  width: 100%;
  background-repeat: repeat-x;
}

.scrolling-strip.remix {
  height: 194px;
  background-image: url("/images/remix.png");
  animation: scroll-left 60s linear infinite;
}

.scrolling-strip.rumble {
  height: 154px;
  background-image: url("/images/rumble.png");
  animation: scroll-right 60s linear infinite;
}

@keyframes scroll-left {
  from {
    background-position: 0 center;
  }
  to {
    background-position: -928px center;
  }
}
@keyframes scroll-right {
  from {
    background-position: 0 center;
  }
  to {
    background-position: 908px center;
  }
}

.thingies {
  position: absolute;
  top: 0;
  right: 50px;
  z-index: -1;
}

option {
  background-color: black;
  border-radius: 0;
}

@media (max-width: 768px) {
  body {
    overflow: auto !important;
  }
}

.mantine-Tabs-tab {
  background-color: transparent !important;
  text-align: center !important;
}

.mantine-Drawer-body {
  background-color: #020a14;
}

.mantine-Drawer-header {
  background-color: #020a14;
}