.home {
  background-color: black;
  z-index: 1;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left {
  width: 50%;
  height: 100%;
  position: relative;
}

.right {
  width: 50%;
  height: 100%;
  position: relative;
}

.background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.4) grayscale(1);
  transition: all 0.2s ease-in-out;
}

.background:hover {
  cursor: pointer;
  filter: brightness(0.8);
}

.background:hover + .leftLogo {
  filter: brightness(25);
}

.background:hover + .rightLogo {
  filter: brightness(11);
}

.rightLogo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: auto;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
}

.leftLogo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: auto;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
}

.container {
  z-index: 10;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 0%,
    rgba(26, 26, 26, 0) 100%
  );
  border-top: 0;
  padding: 8px 80px;
}

.disclaimer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-top: 0;
  padding: 8px 40px;
  text-align: center;
  width: 100%;
}

@media (max-width: 768px) {
  .home {
    width: 100%;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
  }
  .container {
    width: 100%;
  }
  .left {
    width: 100%;
    height: auto;
  }
  .right {
    width: 100%;
    height: auto;
  }
  .disclaimer {
    width: 100%;
    text-align: center;
  }
}

.modePicker {
  position: absolute;
  bottom: 200px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #081925;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
