/* src/styles/MyBoard.module.css */
.board {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
}

.clear {
  background: #1f242a;
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(to top, #796645, #c1b49a) 1;
  color: #c1bba6;
  box-shadow: inset 0 0 10px black;
  padding: 8px 24px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.clear:hover {
    border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(to bottom, #796645, #c1b49a) 1;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 256px);
  grid-template-rows: repeat(3, 128px);
  gap: 16px;
}

.slot {
  width: 256px;
  height: 128px;
}

.placeholder {
  width: 100%;
  height: 100%;
  transform: scale(1);
  border: 2px solid #3c3d30;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(circle at 50% 50%, #111820,#060d15);
  box-shadow: inset 0 0 10px black;
}

.slotNumber {
  font-size: 1rem;
  color: #666;
  font-weight: bold;
}
