/* src/styles/MyBoard.module.css */
.board {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.boardHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.boardControls {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}

.appControls {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 8px;
}

.title {
  font-weight: bold;
}

.clearIcon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  filter: brightness(0);
  position: relative;
  top: 4px;
}

.clear {
  background: rgba(255, 255, 255);
  backdrop-filter: saturate(100%) blur(8px);
  border: 2px solid transparent !important;
  border-image: linear-gradient(
    to bottom right,
    #b827fc 0%,
    #2c90fc 25%,
    #b8fd33 50%,
    #fec837 75%,
    #fd1892 100%
  ) !important;
  border-image-slice: 1 !important;
  color: #161616;
  padding: 2px 8px;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
}

.refreshButton {
  display: flex;
  align-items: center;
  height: 100% !important;
  gap: 8px;
  padding: 4px 12px;
  cursor: pointer;
}

.refreshIcon {
  width: 30px;
  height: 30px;
  filter: brightness(0);
}

.clear:hover {
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(to bottom, #796645, #c1b49a) 1;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
  grid-auto-rows: 128px;
  row-gap: 10px;
}

.slot {
  width: 256px;
  height: 128px;
}

.placeholder {
  width: 100%;
  height: 100%;
  border: 1px solid #222;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: saturate(100%) blur(8px);
  /*   box-shadow: inset 0 0 8px rgba(255, 255, 255, 0.6);
 */
}

.helmet {
  height: 40px;
  width: auto;
  font-size: 1rem;
  filter: brightness(150);
  opacity: 0.1;
  font-weight: bold;
}

@media (max-width: 768px) {
  .grid 
  {
    
  }
}