.section {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  padding: 0.5rem;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: saturate(100%) blur(5px);
  border: 1px solid white;
}

.panel {
    width: 400px;
    overflow: scroll;
}

.title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

.grid {
  display: grid;
  overflow: hidden;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  gap: 1rem;
}

.icon {
  height: 16px;
  width: 16px;
}

.traitIcon {
  height: 20px;
  width: 20px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
}
