.card {
  display: flex;
  padding: 0.5rem;
  flex-direction: column;
  align-items: center;
  border-radius: 0.25rem;
  border-width: 1px;
}

.unitName {
  font-size: 0.75rem;
}

.unitTraits {
  font-size: 0.75rem;
  line-height: 1rem;
  font-style: italic;
}

.actionButton {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 0.25rem;
  color: #ffffff;
  background-color: #3b82f6;
}

.traitIcon {
    height: 16px;
    width: 16px;
}

.traits {
  display: flex;
}