.section {
  margin: 0.5rem;
  padding: 0.5rem;
}

.panel {
  width: 400px;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.pool {
  flex: auto;
  overflow: auto;
  margin-bottom: 20px;
}

.title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

.grid {
  display: grid;
  overflow: hidden;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 0.5rem;
}

.icon {
  height: 16px;
  width: 16px;
}

.traitIcon {
  height: 20px;
  width: 20px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.poolHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
}

/* Search bar styling */
.searchContainer {
  position: relative;
  width: 100%;
  flex: 4;
}

.searchInput {
  width: 100%;
  padding: 8px 32px 8px 12px;
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(to top, #796645, #c1b49a) 1;
  background-color: rgba(0, 0, 0, 0.2);
  color: #f0e6d2;
  font-size: 14px;
  outline: none;
}

.searchInput::placeholder {
  color: #f0e6d2;
  opacity: 0.7;
}

/* Optional clear icon styling */
.clearIcon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  cursor: pointer;
  filter: invert(1);
}

/* Container to size the select */
.toggleContainer {
  position: relative;
  width: 120px; /* adjust to fit your text */
  margin: 16px 0;
}

/* The dropdown itself */
.toggleSelect {
  position: relative;
  width: 100%;
  padding: 8px 32px 8px 12px;
  font-size: 14px;
  background-color: #1f242a;
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(to top, #796645, #c1b49a) 1;
  color: #c1bba6;
  box-shadow: inset 0 0 10px black;
  appearance: none; /* remove native arrow */
  -webkit-appearance: none;
  outline: none;

  /* custom arrow icon (make sure you have this SVG or PNG) */
  background-image: url("/images/icons/chevron-down.svg");
  background-repeat: no-repeat;
  background-position: right 12px center;
}

/* Hide IE/Edge default arrow */
.toggleSelect::-ms-expand {
  display: none;
}

.selectIcon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #c1bba6;
}
