.button {
  font-family: "Beaufort";
  text-transform: uppercase;
  font-size: 18px;
  color: #f0e6d2;
  padding: 0.75rem 2rem;
  border: 3px solid transparent;
  background: #1e2328;
  border-image: linear-gradient(#08abac, #01698b) 1;
  transition: all ease 0.5s;
}

.button:hover {
  background-image: url("/images/btn.jpg");
  background-position: center center;
  background-size: cover;
  box-shadow: 0 0 10px 4px rgba(192, 252, 253, 0.4),
    inset 0 0 5px 2px rgba(192, 252, 253, 0.3);
  border: 3px solid rgba(192, 252, 253, 0.75);
  cursor: pointer;
}

.buttonGroup {
}
