/* src/styles/BoardUnitCard.module.css */
.card {
  position: relative;
  width: 256px;
  height: 128px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  border-radius: 6px !important;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  transition: transform 0.1s ease-in-out;
}
.card:hover {
  /* transform: scale(1.05); */
}

.traitOverlay {
  position: absolute;
  bottom: 28px;
  left: 4px;
  font-size: 12px;
  text-shadow: 0px 0px 10px black, 0px 0px 10px black, 0px 0px 10px black;
}

.traitIcon {
  width: 14px;
  height: 14px;
}

.headliner {
  border: 2px solid transparent !important;
  border-image: linear-gradient(
    to bottom right,
    #b827fc 0%,
    #2c90fc 25%,
    #b8fd33 50%,
    #fec837 75%,
    #fd1892 100%
  ) !important;
  border-image-slice: 1 !important;
}

.item {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 6px;
  cursor: pointer;
}

.iconWrapper {
  width: 24px;
  height: 24px;
  background-size: contain;
  background-position: center;
  border-radius: 0px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: none;
  background-size: cover;
}

.icon {
  width: 16px;
  height: 16px;
}

.nameBar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 28px;
  line-height: 28px;
  padding: 2px 4px;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  text-align: center;
}

.deleteIcon {
  position: absolute;
  top: 0;
  right: 0;
  padding: 3px;
  cursor: pointer;
  padding-top: 0;
  padding-right: 0;
  transition: transform 0.1s ease-in-out;
}

.deleteIcon:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .card {
    width: 180px;
    height: 128px;
  }
}
