.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-width: 1px;
  border: 2px solid #353b32;
  background-color: black;
  border-radius: 6px;
}

.card:hover {
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to top, #fff, #fbffff) 1;
}

.sprite {
  height: 100%;
  width: 100%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.spriteWrapper {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.unitName {
  font-size: 0.75rem;
}

.unitTraits {
  font-size: 0.75rem;
  line-height: 1rem;
  font-style: italic;
}

.actionButton {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 0.25rem;
  color: #ffffff;
  background-color: #3b82f6;
}

.traitIcon {
  height: 16px;
  width: 16px;
}

.traits {
  display: flex;
}

.selected {
  opacity: 0.5;
  filter: grayscale(1);
  transform: scale(0.9);
}
